__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.env.*

.vscode/
.idea/
.DS_Store

checkpoints/*.pth
checkpoints/**/*.pth

samples/inference/

data/**

limited_dataset/
PlantVillage/
plantvillage_dataset/
*.zip

kaggle.json

Thumbs.db
*.log
*.tmp

.streamlit/
